{% load static %}
<!DOCTYPE html>
<head>
	<title>Search form</title>
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/default.css" %}'/>
	<link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap.css" %}'/>

</head>
<body >
	<div class="container" ><br>
	<h1 class="text-center ">PyRedis-Search</h1><br><br><br>
	<form role="form" action ="/testapp/search/" method="get" >
		<div class="row">
		<div class="col-md-offset-3 col-md-6">
		<input class="form-control" type="text" name='q'/>
		</div>
		

	
		<input type="submit" value="Search" class="btn btn-danger" >
		</div>
	</form>
	<div class="row text-center">
    <br><br><br><br><br><br>
	<a href="/testapp/title/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Page</a>
	<a href="/testapp/allpage/" class="btn btn-default" role="button"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> All Pages</a>
	</div>
</div>
</body>
</html>